@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    background: url('./assets/bg.png') no-repeat center/cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header {
    position: absolute;
    top: 0;
    padding: 25px;
    text-align: center;
}

.player {
    padding: 10px 0 20px 0;
}

.board {
    position: relative;
    display: grid;
    grid-template: repeat(6, 50px) / repeat(7, 50px);
    justify-content: center;
    align-content: center;
    border: 2px solid #000;
    width: 354px;
    height: 304px;
    margin: 0 auto;
}

.grid .square {
    width: 50px;
    height: 50px;
}

.player-one {
    background-color: red;
    border-radius: 50%;
}

.player-two {
    background-color: blue;
    border-radius: 50%;
}

.modal {
    top: -100%;
    z-index: 10;
    position: absolute;
    background-color: #8ab339;
    font-size: 30px;
    padding: 20px 55px;
    transition: all .2s;
}
